    <div class="container">
     <div class="row"></div>
     <div class="row"></div>
     <div class="row"></div>
     <div class="row">
         
        <div class="col s12 m3">
          <a href="/month">
          <div class="card">
            <div class="card-image">
              <img class="activator" src="/images/month.png">
              <span class="card-title"></span>
            </div>
          </a>
            <div class="card-content">
              <p>January to December, pick one in twelwe!</p>
            </div>
            <div class="card-action">
              <a href="/month">Guess the Month</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <a href="/day">
          <div class="card">
            <div class="card-image">
              <img src="/images/day.png">
              <span class="card-title"></span>
            </div>
          </a>
            <div class="card-content">
              <p>It was the beginning of the month. Or the end of it?</p>
            </div>
            <div class="card-action">
              <a href="/day">Guess the Day</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <a href="/year">
          <div class="card">
            <div class="card-image">
              <img src="/images/year.png">
              <span class="card-title"></span>
            </div>
          </a>
            <div class="card-content">
              <p>Just find out the decade and you're almost there!</p>
            </div>
            <div class="card-action">
              <a href="/year">Guess the Year</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <a href="date">
          <div class="card">
            <div class="card-image">
              <img src="/images/date.png">
              <span class="card-title"></span>
            </div>
          </a>
            <div class="card-content">
              <p>Do you think you are ready for the ultimate challange?</p>
            </div>
            <div class="card-action">
              <a href="/date">Guess the Date</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>