    <div class="container">
     <div class="row"></div>
     <div class="row"></div>
     <div class="row">
         
        <div class="col s12 m3">
          <div class="card small">
            <div class="card-image">
              <img src="http://static1.squarespace.com/static/527cff9fe4b0dc36171a857c/52b21af3e4b07a50584fa6f2/553bd509e4b0da2b5f8a6b14/1429984521591/monthly-recap.png?format=750w">
              <span class="card-title">Month</span>
            </div>
            <div class="card-content">
              <p>How hard could it be, I mean, there is only 12 of them!</p>
            </div>
            <div class="card-action">
              <a href="/month">Guess the Month</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <div class="card small">
            <div class="card-image">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPwMC32dcdx5UzLY5ey6ktkNRVh4KKnosub4NAVDrreD-B4M5R">
              <span class="card-title">Day</span>
            </div>
            <div class="card-content">
              <p>It was the beginning of the month. Or the end of it?</p>
            </div>
            <div class="card-action">
              <a href="/day">Guess the Day</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <div class="card small">
            <div class="card-image">
              <img src="http://hdwallpaperss.com/myadmin/img/1356430153_new_year_2013_high_quality_image.jpg">
              <span class="card-title">Year</span>
            </div>
            <div class="card-content">
              <p>Just find out the decade and you're almost there!</p>
            </div>
            <div class="card-action">
              <a href="/year">Guess the Year</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <div class="card small">
            <div class="card-image">
              <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRsh7tpc5E3TR-4tiY50UndKpxBW3D0NSTxJvEsEN6qs74DvfYB">
              <span class="card-title">Date</span>
            </div>
            <div class="card-content">
              <p>Do you think you are ready for the ultimate challange?</p>
            </div>
            <div class="card-action">
              <a href="/date">Guess the Date</a>
            </div>
          </div>
        </div>
        
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://materializecss.com/images/office.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more-vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
             </div>
         </div>
        
      </div>
    </div>